name: e2e tests
on:
  pull_request:
  workflow_dispatch:
jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # get these here: https://github.com/kubernetes-sigs/kind/releases
          - version: "1.24"
            image: kindest/node:v1.24.0@sha256:0866296e693efe1fed79d5e6c7af8df71fc73ae45e3679af05342239cdc5bc8e
          - version: "1.23"
            image: kindest/node:v1.23.6@sha256:b1fa224cc6c7ff32455e0b1fd9cbfd3d3bc87ecaa8fcb06961ed1afb3db0f9ae
          - version: "1.22"
            image: kindest/node:v1.22.9@sha256:8135260b959dfe320206eb36b3aeda9cffcb262f4b44cda6b33f7bb73f453105
          - version: "1.21"
            image: kindest/node:v1.21.12@sha256:f316b33dd88f8196379f38feb80545ef3ed44d9197dca1bfd48bcb1583210207
          - version: "1.20"
            image: kindest/node:v1.20.15@sha256:6f2d011dffe182bad80b85f6c00e8ca9d86b5b8922cdf433d53575c4c5212248
    steps:
      - name: Create k8s Kind Cluster - ${{ matrix.version }}
        uses: helm/kind-action@v1.3.0
        with:
          node_image: ${{ matrix.image }}
      - name: Show cluster version
        run: kubectl version
      - uses: actions/setup-go@v2
        with:
          go-version: "1.21"
      - uses: actions/checkout@v2
      - run: go build
      - name: e2e test
        run: tests/e2e.sh